@mixin font-face($font-family, $file-path, $weight: normal ) {
    @font-face {
      font-family: $font-family;
      font-weight: $weight;
      font-style: normal;
      src: url('#{$file-path}.ttf') format('truetype');
    }
  }
  
  @include font-face("SourceSansProRegular", "/assets/fonts/SourceSansPro-Regular");
  @include font-face("SourceSansProSemiBold", "/assets/fonts/SourceSansPro-SemiBold");