$font-regular: "SourceSansProRegular", Arial, Helvetica, sans-serif;
$font-bold: "SourceSansProSemiBold", Arial, Helvetica, sans-serif;
$font-size-main: 16px;
$line-height-regular: 1.26;
$main-black: #111;
$main-gray:#808080;
$main-select: #3ca3d9;
$main-white: #fff;
$main-green: #008000;
$main-blue: #2871e6;
$second-black: #333;
$light-gray: #f9f9f9;